.cabecalho{
    color: white;
    background-color: black;
    text-align: center;
    padding: 30px;
}

.cabecalho h3{
    color: rgb(206, 206, 8);
}
.imgcidadenergia{
    width: 400px;
    
}
.carousel-inner{
    width: 300px;
}
.energia2{
    width: 300px;
    ruby-align: right;
}
.caroseul { width: 400px;
    ruby-align: right;
    

}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
